@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página. */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F2EB;
}

/* Estilo para o cabeçalho. */
header {
    text-align: center;
    background-color: #FDC827;
    padding: 20px;
    margin-bottom: 30px;
}

header h2 {
    color: #04B471;
}

/* Estilo para o formulário. */
#cadastro-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os rótulos. */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilo para os campos de entrada de texto e senha. */
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para o campo de estado. */
select {
    background-color: #F5F2EB;
}

/* Estilo para o checkbox. */
.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilo para o botão de cadastro. */
button[type="submit"] {
    background-color: #04B471;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* Estilo para o botão de cadastro ao passar o mouse. */
button[type="submit"]:hover {
    background-color: #333;
}